/* body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
} */

/* .preview{
  width : 5%;
  height : 5%;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2,h1{
  text-align: center;
}

#fileInput {
  display: block;
  margin: 1rem auto;
}

#imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.image-item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
  overflow-x: hidden;
  text-align: center;
}

input[type="file"] {
  margin: 20px 0;
}

#imageList {
  margin-top: 10px;
}

#container3D {
  margin-top: 20px;
  border-top: 1px solid #444;
}

#startButton {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

#uploadUI {
  padding: 20px;
} */


/* testing new */
* { 
  margin: 0;
  padding :0;
  box-sizing: border-box;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;

}

body{
  font-family: "Akkurat Mono";
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

p{
  text-transform: uppercase;
  font-size: 13px; 
  font-weight: 600;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
}

nav, footer{
  position:fixed;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

}
nav{
  top: 0

}
footer{
  bottom: 0
}
.upload{
    align-items: center;
    justify-content: center;
}